html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

p {
  line-height: 20px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
}

.parallax-viewport {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 80%;
  margin: 0px auto;
  position: absolute;
  text-align: center;
}

.divF {
  padding-top: 80px;
  display: block;
  margin: 0 auto;
}

.pCred {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  line-height: 28px;
  font-weight: 400;
  font-size: 26px;
}

.tCred {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  line-height: 28px;
  font-weight: 900;
  font-size: 32px;
}

.parallax-layer {
  position: absolute;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.hamburger {
  position: fixed;
  background-color: transparent;
  right: 20px;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 20px 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.hamburger.is-active {
  background-color: none;
}

._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
  opacity: 0;
}

.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 0px, 0px);
}

.menuppal {
  background-color: #000000ed;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 1001;
}

.menuppal ul {
  margin: 0;
  padding: 0;
}

.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: $nav-color-text;
  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;
  color: #369;
  text-transform: none;
  font-weight: bold;
}

.menuppal ul li a {
  text-decoration: none;
  color: #369;
}

.menuppal ul li a:hover {
  text-decoration: none;
  color: #333;
}

.parallax1 {
  width: 950px;
  height: 573px;
  display: block;
  top: 74.5895%;
  margin-top: -427.398px;
  left: 24.6184%;
  margin-left: -233.874px;
}

.modal-content {
  position: relative;
  background-color: inherit;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px !important;
  background-color: inherit !important;
  border-radius: 6px;
  outline: 0 !important;
  -webkit-box-shadow: 0px !important;
  box-shadow: 0px !important;
}

.parallax2 {
  width: 900px;
  height: 573px;
  display: block;
  top: 74.5895%;
  margin-top: -427.398px;
  left: 24.6184%;
  margin-left: -221.565px;
}

.parallax3 {
  width: 970px;
  height: 563px;
  display: block;
  top: 74.5895%;
  margin-top: -419.939px;
  left: 24.6184%;
  margin-left: -238.798px;
}

.parallax4 {
  width: 960px;
  height: 533px;
  display: block;
  top: 74.5895%;
  margin-top: -397.562px;
  left: 24.6184%;
  margin-left: -236.336px;
}

.parallax5 {
  width: 940px;
  height: 293px;
  display: block;
  top: 95.5895%;
  margin-top: -459.939px;
  left: 14.6184%;
  margin-left: -231.413px;
}

#containerUno {
  position: relative;
  height: 100vh;
  width: 100%;
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red;
}

.animated {
  width: 100% !important;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

.activE {
  width: 100% !important;
  position: absolute;
  display: block;
  top: 0;
  left: 0
}

.link2 {
  width: 440px;
  z-index: 0;
  margin-top: 144px;
  position: absolute;
  margin-left: 6%;
}

.divText {
  z-index: 4;
  width: 300px;
  position: absolute;
  margin-left: 58%;
  margin-top: -40px;
}

.divTextEquipo {
  z-index: 4;
  width: 284px;
  position: absolute;
  left: 16%;
  margin-top: 25%;
}

.fondoEquipo1 {
  width: 420px;
  z-index: 3;
  margin-top: 20%;
  margin-left: 8%;
  position: absolute;
}

.fondoEquipo {
  z-index: -1;
  height: 360px;
  margin-top: 20%;
  left: 10%;
  width: 420px;
  position: absolute;
}

.divTextDos {
  z-index: 5;
  width: 220px;
  position: absolute;
  left: 260px;
  margin-top: -16px;
}

.anti {
  position: absolute;
  width: 76px;
  margin-top: 0px;
}

.pText {
  line-height: 18px;
  font-size: 12px;
  padding-right: 28px;
  font-family: 'Montserrat', sans-serif;
}

.tit2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  font-weight: 900;
  font-style: italic;
  font-size: 38px;
}

.pText2 {
  line-height: 18px;
  font-size: 12px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.boldT {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.tit {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 26px;
  font-weight: 900;
  font-style: italic;
  font-size: 38px;
}

.titC {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 6px;
  font-weight: 900;
  font-style: italic;
  font-size: 38px;
}

.elem3 {
  padding-top: 120px;
  margin-left: 4%;
  width: 120px;
}

.elem1 {
  position: absolute;
  right: 6%;
  width: 480px;
}

.encaTecno {
  z-index: 4;
  width: 268px;
  margin-top: 0px;
  position: absolute;
  left: 12%;
}

.modal-body {
  position: relative;
  padding: 0px !important;
  border: 0px !important;
}

#modalC {
  -webkit-box-shadow: 0 0px 0px !important;
  box-shadow: 0 0px 0px !important;
  width: 580px;
}

.closeB {
  font-size: 32px;
  -webkit-box-shadow: 0 0px 0px !important;
  box-shadow: 0 0px 0px !important;
}

.modal-header {
  padding: 15px;
  /* border-bottom: 1px solid #e5e5e5; */
  border: 0px !important;
}

.elem2 {
  position: absolute;
  right: 6%;
  margin-top: 8vw;
}

.linkTecno {
  width: 380px;
  right: 20%;
  cursor: pointer;
  margin-top: 8vw;
  position: absolute;
}

.elem4 {
  margin-top: 26vw;
  position: absolute;
  left: 0%;
  width: 300px;
}

.pieTecno {
  margin-top: 180px;
  z-index: 6;
  position: absolute;
  margin-left: 26%;
}

.divElemTecno {
  margin-top: 140px;
}

.divTecno {
  margin-bottom: 100px;
}

.elem5 {
  width: 280px;
  margin-top: 28vw;
  margin-left: 72%;
}

.elem6 {
  position: absolute;
  right: 32%;
  margin-top: 40vw;
  width: 240px;
}

.fondoBtecno {
  z-index: 3;
  left: 12%;
  opacity: 0.8;
  width: 440px;
  margin-top: 0px;
  height: 320px;
  position: absolute;
}

.divTextecno {
  z-index: 5;
  width: 264px;
  left: 20%;
  position: absolute;
  /* margin-left: 16%; */
  margin-top: 40px;
}

#sct {
  height: 1860px;
  padding: 0px;
  padding-top: -40px;
}

.divFlexB {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.divFlexs {
  margin-bottom: 0px;
}

.prueba {
  height: 1000px;
}

.mainS {
  background-repeat: round;
  background-size: cover;
  background-image: url("assets/Fondo_00.jpg");
}

#bk {
  display: none;
  z-index: 2;
  position: fixed;
}

#bk-m {
  background-size: contain;
  background-image: url("assets/ManchasSup.png");
}

#bl {
  display: block;
}

.revis03 {
  width: 260px;
  top: 0;
}

.mySlides {
  width: 100%;
}

.revis02 {
  width: 200px;
  right: 40px;
  margin-top: -100px;
  position: absolute;
}

.diario2 {
  left: 0;
  position: absolute;
  width: 280px;
}

.rompe2 {
  right: 80px;
  margin-top: 16vw;
  position: absolute;
  width: 300px;
}

.tv {
  filter: blur(2px);
  left: 50px;
  position: absolute;
  margin-top: -200px;
  z-index: 3;
  width: 380px;
}

.radios {
  width: 320px;
  margin-left: 68%;
}

.rompeTres {
  width: 520px;
  z-index: 8;
  margin-top: 21vw;
  position: absolute;
  left: 0px;
}

.diario {
  width: 120px;
  z-index: 5;
  position: absolute;
  margin-top: 90px;
  margin-left: 30%;
}

.megafono {
  margin-top: -50px;
  padding-bottom: 30px;
  margin-left: 46%;
  z-index: 4;
  position: relative;
  width: 260px;
}

.celu {
  margin-bottom: 40px;
  position: absolute;
  right: 200px;
  margin-top: 0px;
}

.clip {
  position: absolute;
  margin-top: 60%;
  left: 45%;
  width: 120px;
}

.linkEduca {
  width: 260px;
  right: 8%;
  z-index: 4;
  cursor: pointer;
  margin-top: 12vw;
  position: absolute;
}

.lapicero {
  position: absolute;
  left: 0px;
  margin-top: 40%;
  width: 320px;
}

.anteojos {
  position: absolute;
  margin-top: 300px;
  left: 20px;
  width: 320px;
}

.divTextEd {
  z-index: 4;
  width: 300px;
  position: absolute;
  right: 194px;
  margin-top: -30px;
}

.fondoEd {
  z-index: 2;
  height: 360px;
  margin-top: -80px;
  right: 140px;
  width: 460px;
  position: absolute;
}

.lupa {
  margin-top: 600px;
  width: 440px;
  right: 0;
  z-index: 8;
  position: absolute;
}

.textEd {
  margin-top: 400px;
}

.sectionEd {
  margin-top: -500px;
}

.adn1 {
  position: absolute;
  right: -20px;
  margin-top: 300px;
  width: 400px;
}

.adn2 {
  position: absolute;
  right: 100px;
  width: 200px;
}

.adn3 {
  position: absolute;
  left: 60px;
  width: 220px;
  margin-top: 34%;
}

.adn4 {
  position: absolute;
  left: 30px;
  width: 440px;
  margin-top: -20%;
}

.cel1 {
  position: absolute;
  left: 30%;
  margin-top: 10%;
  width: 60px;
}

.cel2 {
  position: absolute;
  left: 12%;
  margin-top: 14%;
}

.cel3 {
  position: absolute;
  right: 80px;
  width: 220px;
  margin-top: 12%;
}

.cel4 {
  position: absolute;
  right: 40%;
  margin-top: 42%;
}

.sectionTransp {
  margin-top: 16%;
}

.section2 {
  padding-top: 800px;
}

.headC {
  height: 264px;
  z-index: 4;
  position: absolute;
  left: 8%;
  margin-top: -6%;
}

.headT {
  height: 264px;
  z-index: 4;
  position: absolute;
  left: 10%;
  margin-top: -1%;
}

.rompe4 {
  position: absolute;
  left: 30%;
  width: 300px;
  margin-top: -26vw;
}

.divSection2 {
  margin-bottom: 120px;
}

.sectionComunidad {
  margin-top: 140px;
  z-index: 2;
}

.nubes {
  margin-top: -150px;
  width: 340px;
  right: 2%;
  position: absolute;
}

.rompeUno {
  margin-bottom: 0px;
  right: 300px;
  z-index: 4;
  margin-top: -6vw;
  position: absolute;
  width: 220px;
}

.link {
  width: 360px;
  z-index: 4;
  margin-top: 150px;
  cursor: pointer;
  position: absolute;
  margin-left: 20%;
}

.linkC {
  cursor: pointer;
  width: 400px;
  z-index: 8;
  margin-top: 140px;
  position: absolute;
  left: 26%;
}

#sectionEquipo {
  padding-top: 0px;
  height: 800px;
}

.taza {
  width: 120px;
  position: absolute;
  left: 20px;
  margin-top: 8%;
}

.lista {
  position: absolute;
  left: 20px;
  margin-top: 40%;
  width: 220px;
}

.arrow {
  position: absolute;
  left: 32%;
  z-index: 8;
  width: 160px;
  margin-top: 14%;
}

.globos {
  position: absolute;
  right: 24%;
  margin-top: 5%;
}

.robot {
  position: absolute;
  right: 0;
  width: 180px;
  margin-top: 40%;
}

.laptop {
  position: absolute;
  margin-top: -40px;
  left: 20%;
  width: 260px;
}

.foco {
  position: absolute;
  width: 280px;
  right: 0;
  margin-top: 8%;
}

.linkEquipo {
  width: 500px;
  right: 28%;
  z-index: -3;
  margin-top: 32vw;
  cursor: pointer;
  position: absolute;
}

.wrapper {
  width: 100%;
  height: 120vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.scene {
  padding: 0;
  margin: 0;
}

/*================================================================
Starry Sky
Trick created by Andrey https://www.script-tutorials.com/night-sky-with-twinkling-stars/
================================================================*/
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(https://www.land-of-web.com/wp-content/uploads/2016/08/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(https://www.land-of-web.com/wp-content/uploads/2016/08/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

/*================================================================
Animation - Move Up and Move Down Letters
================================================================*/
/*================================================================
Move Up
================================================================*/
@keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-moz-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-ms-keyframes moveUp {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

.moveUp {
  animation: moveUp 2s infinite;
}

/*================================================================
Move Down
================================================================*/
@keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-moz-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

@-ms-keyframes moveDown {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -10px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
}

.moveDown {
  animation: moveDown 2s infinite;
}

/*================================================================
PARALLAX
================================================================*/
ul#scene {
  list-style-type: none;
}

ul#scene2 {
  list-style-type: none;
}

ul#scene3 {
  list-style-type: none;
}

ul#scene4 {
  list-style-type: none;
}

ul#scene5 {
  list-style-type: none;
}

ul#scene6 {
  list-style-type: none;
}

.layer {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
}

li.layer a {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 3px #ccc;
  display: block;
}

li.layer:nth-child(1) {}

/*1 item*/
/*-----Logotype----------------*/
li.layer:nth-child(2) a {
  font-size: 3.5vw;
  color: white;
  text-shadow: 2px 2px 2px #ccc;
  padding: 7px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  position: absolute;
  /* top:40vh;
	left:40vw; */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

li.layer:nth-child(2) a:hover {
  font-size: 4.5vw;
}

/*-----P----------------------*/
li.layer:nth-child(3) a {
  font-size: 5vw;
  position: absolute;
  /* top:15vh;
	left:15vw; */
}

/*-----O---------------------*/
li.layer:nth-child(4) a {
  font-size: 8vw;
  position: absolute;
  /* top:40vh;
	left:22vw; */
}

/*-----R---------------------*/
li.layer:nth-child(5) a {
  font-size: 6vw;
  position: absolute;
  /* top:70vh;
	left:35vw; */
}

/*-----T---------------------*/
li.layer:nth-child(6) a {
  font-size: 3.5vw;
  position: absolute;
  /* top:60vh;
	left:47vw; */
}

/*-----F---------------------*/
li.layer:nth-child(7) a {
  font-size: 3.5vw;
  position: absolute;
  /* top:18vh;
	left:40vw; */
}

/*-----O---------------------*/
li.layer:nth-child(8) a {
  font-size: 3.5vw;
  position: absolute;
  /* top:18vh;
	left:55vw; */
}

/*-----L---------------------*/
li.layer:nth-child(9) a {
  font-size: 5vw;
  position: absolute;
  /* top:15vh;
	right:20vw; */
}

/*-----I---------------------*/
li.layer:nth-child(10) a {
  font-size: 6vw;
  position: absolute;
  /* top:35vh;
	right:30vw; */
}

/*-----O---------------------*/
li.layer:nth-child(11) a {
  font-size: 6.5vw;
  position: absolute;
  /* top:65vh;
	right:37vw; */
}

.elm {
  width: 120px;
}

.z-2 {
  z-index: 2;
  display: block;
}

.revis01 {
  filter: blur(6px);
}

.pez {
  /* transform: translatey(0px); */
  animation: float 6s ease-in-out infinite;
  margin-left: 28%;
  z-index: 1;
  position: relative;
  margin-top: -60px;
  width: 320px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.revis04 {
  width: 400px;
  filter: blur(6px);
}

.fondoTecno02 {
  z-index: 3;
  margin-top: -102px;
  height: 100px;
  margin-left: 12%;
  position: absolute;
}

.fondo01 {
  z-index: 2;
  height: 340px;
  margin-top: -82px;
  left: 49%;
  width: 490px;
  position: absolute;
}

.sectionTecno {
  margin-top: 400px;
}

.sectionTrans {
  margin-top: -200px;
}

.fondos01 {
  z-index: 2;
  height: 310px;
  margin-top: -82px;
  left: 10%;
  width: 400px;
  position: absolute;
}

.fondosComuni {
  z-index: 3;
  height: 340px;
  margin-top: -82px;
  left: 12%;
  width: 360px;
  position: absolute;
}

.fondo02 {
  width: 320px;
  z-index: 3;
  margin-top: -90px;
  margin-left: 64%;
  position: absolute;
}

.fondoEduca {
  width: 320px;
  z-index: 3;
  margin-top: -90px;
  margin-left: 64%;
  height: 320px;
  position: absolute;
}

.fondoTran {
  width: 400px;
  z-index: 7;
  margin-top: -60px;
  right: 20%;
  position: absolute;
}

.linkTran {
  width: 340px;
  right: 15%;
  z-index: 6;
  cursor: pointer;
  margin-top: 14%;
  position: absolute;
}

.divTextTran {
  z-index: 4;
  width: 260px;
  position: absolute;
  margin-left: 62%;
  margin-top: 20px;
}

.fondoTran1 {
  z-index: 2;
  height: 284px;
  margin-top: -12px;
  left: 54%;
  width: 440px;
  position: absolute;
}

.fondos02 {
  z-index: 4;
  margin-top: -72px;
  height: 100px;
  margin-left: 10%;
  position: absolute;
}

.reverso {
  width: 240px;
  opacity: 1;
  z-index: 3;
  margin-top: 180px;
  position: absolute;
  margin-left: 68%;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.inline-photo {
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
    filter 10s 2s ease-out;
  /* max-width: 600px;
  width: 90%; */
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  transform: rotateZ(0deg);
  animation-duration: 5s;
}

.inline-photoUp.is-visible {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-duration: 2s;
}

.inline-photoLeft.is-visible {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 2s;
}

.inline-photoRight.is-visible {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-duration: 2s;
}

.inline-photoDown.is-visible {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-duration: 2s;
}

.main-photo {
  transform: scale(.8);
}

.heading {
  transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .main-photo {
  transform: none;
}

.is-visible .heading {
  transform: translate(-50%, -50%);
}

.main-photo,
.heading {
  transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
    filter 10s 2s ease-out;
  will-change: transform;
}
@media (max-width:1740px) {
  .wrapper {
    width: 100%;
    height: 130vw;
    position: relative;
    z-index: 2;
  }
}

@media (max-width:1440px) {
  .wrapper {
    width: 100%;
    height: 128vw;
    position: relative;
    z-index: 2;
  }
}
@media (max-width:1380px) {
  .wrapper {
    width: 100%;
    height: 128vw;
    position: relative;
    z-index: 2;
  }

  .sectionTrans {
    margin-top: 100px;
  }

  .linkEquipo {
    margin-top: 36vw;
  }

  #sectionEquipo {
    padding-top: 400px;
    height: 1186px;
  }
}

@media (max-width:480px) {
  .divTextEquipo {
    z-index: 4;
    width: 68%;
    position: absolute;
    left: 12%;
    margin-top: 70%;
  }

  .divTextTran {
    z-index: 4;
    width: 74%;
    position: absolute;
    margin-left: 11%;
    margin-top: 33%;
  }
}

@media (max-width:420px) {
  #container {
    display: none;
  }

  .sectionTransp {
    margin-top: 0%;
  }

  #bk-m {
    overflow: hidden;
  }

  .wrapper {
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 2;
  }

  .sectionTecno {
    margin-top: 0px;
  }

  .nubes {
    margin-top: 18%;
    width: 340px;
    left: 0px;
    /* right: 7%; */
    position: absolute;
  }

  /* //desinformacion// */
  .tv {
    filter: blur(2px);
    left: 0px;
    position: initial;
    margin-top: 0px;
    z-index: 3;
    display: none;
    width: 280px;
  }

  .revis02 {
    display: none;
  }

  .fondo01 {
    z-index: 2;
    height: 310px;
    margin-top: 30%;
    left: 0%;
    width: 340px;
    position: absolute;
  }

  .reverso {
    width: 140px;
    right: 34px;
    opacity: 1;
    z-index: 5;
    margin-top: 94%;
    position: absolute;
    margin-left: 0%;
  }

  .pez {
    z-index: 1;
    position: absolute;
    margin-top: 60vw;
    width: 280px;
    left: -150px;
  }

  .divText {
    z-index: 4;
    width: 84%;
    left: 10px;
    position: absolute;
    margin-left: 12%;
    margin-top: 40%;
  }

  .radios {
    width: 220px;
    /* margin-left: 0%; */
    margin-top: 128vw;
  }

  .diario {
    display: none;
  }

  .tit {
    font-size: 28px;
  }

  .diario2 {
    position: absolute;
    width: 300px;
    left: -50%;
    margin-top: -32%;
  }

  .pText {
    line-height: 16px;
    font-size: 12px;
    padding-right: 84px;
  }

  .link {
    width: 280px;
    z-index: 4;
    margin-top: 110%;
    position: absolute;
    margin-left: 8%;
    cursor: pointer;
  }

  .fondo02 {
    z-index: 3;
    width: 210px;
    margin-top: 24%;
    /* height: 280px; */
    margin-left: 0%;
    position: absolute;
  }

  .megafono {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    z-index: 4;
    right: 0px;
    position: absolute;
    width: 180px;
  }

  /* //comunidad// */
  .rompeTres {
    width: 320px;
    z-index: 8;
    margin-top: 136vw;
    position: absolute;
    left: -18%;
  }

  .fondosComuni {
    z-index: 2;
    height: 310px;
    margin-top: 150px;
    left: 0%;
    width: 360px;
    position: absolute;
  }

  .rompeUno {
    margin-bottom: 0px;
    right: 0px;
    z-index: 4;
    margin-top: 14vw;
    position: absolute;
    width: 120px;
  }

  .rompe2 {
    display: none;
  }

  .rompe4 {
    display: none;
  }

  .divTextDos {
    z-index: 5;
    width: auto;
    position: absolute;
    left: 60px;
    margin-top: 56%;
  }

  .linkC {
    width: 300px;
    z-index: 2;
    margin-top: 366px;
    position: absolute;
    left: 12%;
  }

  /* //tecnologia// */
  .fondoBtecno {
    z-index: 3;
    left: 2%;
    opacity: 1;
    width: 340px;
    margin-top: 0px;
    height: 300px;
    position: absolute;
  }

  .elem2 {
    display: none;
  }

  .elem5 {
    width: 180px;
    right: 10px;
    z-index: 8;
    margin-top: 140vw;
  }

  .elem4 {
    margin-top: 150vw;
    position: absolute;
    left: 0%;
    width: 220px;
  }

  .divTextecno {
    z-index: 5;
    width: 70%;
    left: 60px;
    position: absolute;
    margin-top: 12%;
  }

  .headT {
    height: 280px;
    z-index: 4;
    width: 280px;
    position: absolute;
    left: 6%;
    margin-top: -4%;
  }

  .linkTecno {
    width: 320px;
    right: 8%;
    margin-top: 58vw;
    position: absolute;
  }

  .elem1 {
    position: absolute;
    right: 6%;
    margin-top: 60px;
    width: 240px;
  }

  .elem6 {
    display: none;
  }

  .mySlides {
    width: 220%;
    height: 440px;
    margin-top: 20%;
    margin-left: -56%;
  }

  .fondos02 {
    z-index: 4;
    margin-top: 124px;
    height: 80px;
    margin-left: -4%;
    position: absolute;
  }

  #divA {
    display: block !important;
  }

  .section2 {
    margin-top: 0px;
    padding-top: 0px;
  }

  .headC {
    position: absolute;
    left: 0%;
    margin-top: 36%;
  }

  #sct {
    height: 640px;
    padding-top: 0px;
  }

  /* //educacion// */
  .fondoEd {
    z-index: 2;
    height: 360px;
    margin-top: 0px;
    right: -20px;
    width: 340px;
    position: absolute;
  }

  .divTextEd {
    z-index: 4;
    right: 0px;
    left: 100px;
    width: 82%;
    position: absolute;
    margin-left: 0%;
    margin-top: 48px;
  }

  .sectionEd {
    margin-bottom: 220px;
    margin-top: 0px;
  }

  .linkEduca {
    width: 260px;
    right: 8%;
    z-index: -1;
    margin-top: 260px;
    position: absolute;
  }

  .lupa {
    margin-top: 520px;
    width: 240px;
    right: -40px;
    z-index: 8;
    position: absolute;
  }

  .anteojos {
    position: absolute;
    margin-top: 0px;
    left: 0px;
    width: 220px;
  }

  .celu {
    margin-bottom: 0px;
    position: absolute;
    right: -20px;
    width: 200px;
    margin-top: 80px;
  }

  .lapicero {
    display: none;
  }

  .fondoEduca {
    z-index: 3;
    width: 300px;
    height: 330px;
    margin-top: -4%;
    /* height: 280px; */
    margin-left: 8%;
    position: absolute;
  }

  .textEd {
    margin-top: 230px;
  }

  /* //transparencia// */
  .fondoTran1 {
    z-index: 2;
    height: 280px;
    margin-top: 100px;
    left: 0%;
    width: 340px;
    position: absolute;
  }

  .divTextTran {
    z-index: 4;
    width: 80%;
    position: absolute;
    margin-left: 18%;
    margin-top: 38%;
  }

  .fondoTran {
    width: 320px;
    z-index: 7;
    height: 282px;
    margin-top: 62px;
    right: 8%;
    position: absolute;
  }

  .adn1 {
    position: absolute;
    right: 0px;
    margin-top: 300px;
    width: 300px;
  }

  .adn2 {
    position: absolute;
    left: 0px;
    width: 200px;
    margin-top: -14px;
  }

  .adn3 {
    display: none;
  }

  .adn4 {
    display: none;
  }

  .cel1 {
    position: absolute;
    /* left: 30%; */
    right: 26px;
    margin-top: 40%;
    width: 40px;
  }

  .fondoTran {
    width: 320px;
    z-index: 7;
    height: 282px;
    margin-top: 62px;
    right: 8%;
    position: absolute;
  }

  .linkTran {
    width: 340px;
    right: 4%;
    z-index: 2;
    margin-top: 86%;
    position: absolute;
  }

  .cel3 {
    position: absolute;
    right: 0px;
    width: 220px;
    margin-top: 0%;
  }

  /* //equipo// */
  #sectionEquipo {
    padding-top: 0px;
  }

  .fondoEquipo {
    z-index: -1;
    height: 310px;
    margin-top: 60%;
    left: 0%;
    width: 320px;
    position: absolute;
  }

  .divTextEquipo {
    z-index: 4;
    width: 80%;
    position: absolute;
    left: 16%;
    margin-top: 70%;
  }

  .globos {
    display: none;
  }

  .fondoEquipo1 {
    width: 300px;
    z-index: 3;
    height: 290px;
    margin-top: 53%;
    margin-left: 0%;
    position: absolute;
  }

  .taza {
    width: 100px;
    position: absolute;
    left: 20px;
    margin-top: 14%;
  }

  .arrow {
    position: absolute;
    z-index: 8;
    /* right: 27%; */
    margin-left: 24%;
    width: 140px;
    margin-top: 44%;
  }

  .foco {
    display: none;
  }

  .lista {
    position: absolute;
    left: 20px;
    margin-top: 168%;
    width: 120px;
  }

  .robot {
    position: absolute;
    right: 0;
    width: 140px;
    margin-top: 164%;
  }

  .laptop {
    position: absolute;
    margin-top: 0px;
    width: 200px;
    left: 44%;
  }

  .linkEquipo {
    width: 320px;
    left: 4%;
    z-index: -3;
    margin-top: 134%;
  }

  .tCred {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    line-height: 28px;
    font-weight: 900;
    font-size: 22px;
  }

  .pCred {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
  }

  #sectionEquipo {
    height: 800px;
    padding-top: 0px;
  }

  .divF {
    padding-top: 60px;
  }

  .clip {
    position: absolute;
    margin-top: 40%;
    left: 4%;
    width: 120px;
  }
}
